@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sec: #FAA300;
  --color-main: #011e65;
  --color-main2: #01062D;
  --color-mute: #a3a3a3;
  --color-gray: #B3B1B1;
  --color-gray2: #555870;

}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  :root {
    --custom-orange: #FF8C00;
    /* Custom orange color */
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .title {
    @apply text-xl md:text-[40px] font-bold tracking-[-0.4px] leading-[110%] uppercase text-[color:var(--color-main2)] border-l-4 border-[color:var(--color-sec)] pl-4;
  }
}

div[data-slot="carousel-content"] {
  height: 100%;
}

.prop__card-wrapper {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08), 0 0 2px 0 rgba(0, 0, 0, .16), 0 -12px 24px 0 transparent
}

.offplan {
  background-color: #e5e6e945;
}

.props-slider {
  position: static !important;
}

.props-slider .swiper-button-prev,
.props-slider .swiper-button-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--color-mute);
  background-color: #fff;
}

.props-slider .swiper-button-prev {
  left: -50px;

}

.props-slider .swiper-button-prev::after {
  background: url(../../public/chevron-left-solid.svg) no-repeat center center;
  background-size: contain;
  font-family: none;
  font-size: 0;
  width: 20px;
  height: 20px;
}

.props-slider .swiper-button-next::after {
  background: url(../../public/chevron-right-solid.svg) no-repeat center center;
  background-size: contain;
  font-family: none;
  font-size: 0;
  width: 20px;
  height: 20px;
}


.swiper-slide {
  padding: 1px;
}

.disable-embla-swipe>div {
  pointer-events: none;
}

.disable-embla-swipe>div>* {
  pointer-events: auto;
  /* ✅ restore for inner slides */
}

/* .offplan-card *{
  pointer-events: all;
} */


.off-slider .swiper-button-prev,
.off-slider .swiper-button-next {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--color-mute);
  background-color: #dadade;
  top: 0;
  margin-top: 0;
  transform: none;
  border: none;
}


.off-slider .swiper-button-prev::after {
  background: url(../../public/chevron-left-svgrepo-com.svg) no-repeat center center;
  background-size: contain;
  font-family: none;
  font-size: 0;
  width: 30px;
  height: 30px;
}

.off-slider .swiper-button-next::after {
  background: url(../../public/chevron-thin-right-svgrepo-com.svg) no-repeat center center;
  background-size: contain;
  font-family: none;
  font-size: 0;
  width: 30px;
  height: 30px;
}

.off-slider .swiper-pagination {
  position: relative;
  margin-top: 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-main2) !important;
  width: 50px !important;
  border-radius: 50px !important;
}

.hero-banner {
  min-height: calc(100dvh - 80px);
}

.container-left {
  padding-left: var(--container-left-offset);
}

@media (max-width: 1023px) {
.container-left {
  padding-left: 20px;
}

  .props-slider .swiper-button-next,
  .props-slider .swiper-button-prev {
    display: none !important;
  }

  .offplan .container {
    padding: 0;
  }

  .off-slider .swiper-button-prev,
  .off-slider .swiper-button-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 0;
    margin-top: 0;
  }

  .off-slider .swiper-button-prev::after,
  .off-slider .swiper-button-next::after {
    width: 20px;
    height: 20px
  }
}

@media (width >=96rem) {
  .container {
    width: 1500px !important;
  }
}